/* GENERAL STYLES*/

ul{
  list-style: none;
  -webkit-padding-start: 0px;
}

a
{
  color: white;
}

a :hover
{
  color: white;
  opacity: .7;
}

/* HEADER STYLES */
.top-brand{
  max-width: 70px;
  position: relative;
  top: -4px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: black;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: black;
}

.navbar-default {
  background-color: black;
  border-color: black;
}
/* FOOTER STYLES */

footer{
  background: black;
  color: white;
  padding: 70px;
}

footer ul{
  padding-bottom: 50px;
}
