/* GENERAL STYLES*/

ul{
  list-style: none;
  -webkit-padding-start: 0px;
}

a
{
  color: white !important;
  transition: 1s;
}

a :hover
{
  color: white !important;
  opacity: .7;
}

/* HEADER STYLES */
.top-brand{
  max-width: 70px;
  position: relative;
  top: -4px;
}

.navbar-toggle {
  border: none;
  color: white;
  font-size: 20px;
  transition: 1s;
}

.nav > li{
  transition: 1s;
}

.navbar-default .navbar-nav > li > a:hover{
  color: #7fc241 !important;
}

.navbar-toggle:hover{
  background: black !important;
  color: #7fc241;
}

.navbar-toggle:focus{
  background: black !important;
  color: white;
}



.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: black;
  text-align:center;
}

.navbar-collapse .fa{
  padding-right: 10px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: black;
}

.navbar-default {
  background-color: black;
  border-color: black;
  border-radius: 0;
}

.navbar {
  margin-bottom: 0px;
}

.nav-solo-icon{
  width: 100%;
  max-width: 60px;
  padding-bottom: 10px;
  position: relative;
  top: 8px;
}

.nav-diy-icon{
  width: 100%;
  max-width: 111px;
  position: relative;
  top: 3px;
  padding-bottom: 14px;
}

.nav-parts-icon{
  width: 100%;
  max-width: 62px;
  padding-bottom: 5px;
}

.nav-clearance-icon{
  width: 100%;
  max-width: 42px;
  padding-bottom: 3px;
}

#product-list{
  background: rgba(194,194,194,.35);
  color: #333333;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 15px;
}

#mobile-product-list{
  letter-spacing: 1px;
  text-align: center;
  display:none;
}

#poppin-search-bar{
  background: white;
  color: #333333;
  letter-spacing: 1px;
  text-align: center;
  display:none;
}

.caret{
  transition: .5s;
}

.spincaret{
  -webkit-transform: rotate(-180deg);
}

.mobile-search-li{
  background: white;
}

.search-area{
  border: none;
  width: 100%;
  padding: 20px;
  background: url(../nav-svgs/search-bg.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-y: 15px;
  background-position-x: 20px;
  padding-left: 75px;
  outline: none;
}

/* CONTENT STYLE */
#content{
  height: 500px;
}

/* FOOTER STYLES */

footer{
  background: black;
  color: white;
  padding: 70px;
}

footer ul{
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .nav > li:hover{
    background: #7fc241 ;
    color:white !important;
    transition: 2s;
  }
  .mobile-search-li:hover{
    background: white!important;
  }
}
